.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}

.title-teams_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.restart-icon_container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 2px solid #000;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.restart-icon_container:hover  .restart-icon{
  transform: rotate(-360deg);
}

.restart-icon {
  font-size: 1.5em;
  transition: transform 0.5s ease-in-out;
}

.player-names_container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.label-input:nth-child(2) {
  margin-top: 10px;
}

.label-input label, .icon-player {
  margin-right: 5px;
}

.icon-player {
  font-size: 1.2em;
}

.player-name {
  outline: 0;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #eee;
  padding: 2px;
  width: 50%;
}

.blue {
  color: #4169E1;
}

.red {
  color: #DC143C;
}

@media screen and (max-width: 750px) {
  .title-teams_container {
    width: 60%;
  } 
}

@media screen and (max-width: 550px) {
  .player-names_container {
    right: 50%;
    transform: translateX(50%);
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
  }

  .player-name {
    width: 60%;
  }

  .label-input {
    justify-content: center;
  }

  .label-input:nth-child(2) {
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .title-teams_container {
    width: 90%;
  } 
}
